body {
    font-family: Arial, sans-serif;
    
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding:20px;
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

label {
    margin-bottom: 5px; /* Space below label */
}

input[type="text"],
input[type="password"] {
    padding: 10px; /* Inner padding for inputs */
    margin-bottom: 15px; /* Space below input */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners for inputs */
}

button[type="submit"] {
    padding: 10px; /* Inner padding for button */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners for button */
    cursor: pointer; /* Pointer cursor on hover */
}

button[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}